.isActive {
  background: #042fbc !important;
  color: "black" !important;
}
/* .fw-500{
    font-weight: 500;
} */
.main {
  background: rgb(238, 174, 202);
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  border-radius: 3%;
}

.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

  .button-container {
    position: relative;
    left: 20%;
    top: 50%;
  }
  
  
  
 